<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="info">
    <Properties>
        <Property name="layoutPattern">[%d{HH:mm:ss}] [%p] [%C{1}(%M:%L)] :%m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}" />
        </Console>
        <RollingFile name="file" fileName="logs/auth-service.log"
                     filePattern="logs/auth-service.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${layoutPattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfAccumulatedFileCount exceeds="8"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>